<div align="right">
    <nav>
        <ul>
            <li><NavigationItem NavigationName="Cos"/></li>
            <li><NavigationItem NavigationName="Stuff" /></li>
            <li><NavigationItem NavigationName="Console" /></li>
        </ul>
    </nav>
</div>


@code {
    
}
