<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Red+Hat+Mono&display=swap" rel="stylesheet">

<div id="nav-item">
    @NavigationName
</div>

@code {
    [Parameter]
    public string NavigationName { get; set; } = "defaultName";
}
